
@{
    ViewBag.Title = "GetStatistics";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage_Admin.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<div class="card-body">
    <div class="chart">
        <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
    </div>
</div>

@section LibraryJS{
    <script>
        $(function () {
            var areaChartCanvas -
        })
        var barChartCanvas - $('#barChart').get(0).getContext('2d')
        var barChartData - $.extemd(true, {}, areaChartData)
    </script>
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


