<footer class="footer">
    <div class="grid wide">
        <div class="row">
            <div class="col col-xl-2-4 col-lg-2-4 col-md-4 col-6">
                <h3 class="footer__heading">Chăm sóc khách hàng</h3>

                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">Trung tâm trợ giúp</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">Fashion Shop</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">Hướng dẫn mua hàng</a>
                    </li>
                </ul>
            </div>
            <div class="col col-xl-2-4 col-lg-2-4 col-md-4 col-6">
                <h3 class="footer__heading">Giới thiệu</h3>

                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">Giới thiệu</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">Tuyển dụng</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">Điều khoản</a>
                    </li>
                </ul>
            </div>
            <div class="col col-xl-2-4 col-lg-2-4 col-md-4 col-6">
                <h3 class="footer__heading">Danh mục</h3>

                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">Quần Áo</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">Giày Dép</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">Phụ Kiện Khác</a>
                    </li>
                </ul>
            </div>
            <div class="col col-xl-2-4 col-lg-2-4 col-md-4 col-6">
                <h3 class="footer__heading">Theo dõi</h3>

                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">
                            <i class="footer-item__icon fa-brands fa-facebook"></i>
                            Facebook
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">
                            <i class="footer-item__icon fa-brands fa-instagram"></i>
                            Instagram
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">
                            <i class="footer-item__icon fa-brands fa-linkedin"></i>
                            Linkedin
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col col-xl-2-4 col-lg-2-4 col-md-8 c-12">
                <h3 class="footer__heading">Hỗ trợ thanh toán</h3>

                <ul class="footer__payment">
                    <li class="method-payment">
                        <iconify-icon icon="logos:mastercard"></iconify-icon>
                    </li>
                    <li class="method-payment">
                        <iconify-icon icon="logos:visa"></iconify-icon>
                    </li>
                    <li class="method-payment">
                        <iconify-icon icon="mdi:cash-check"></iconify-icon>
                    </li>
                    <li class="method-payment">
                        <iconify-icon icon="uil:atm-card"></iconify-icon>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="grid wide">
            <p class="footer__text">
                Copyright ©2023, fashionshop.com, All rights reserved
            </p>
        </div>
    </div>
</footer>
