
<div class="cart" onclick="window.location = '@Url.Action("GetCartInfo", "Cart")'">
    <span class="cart__total">(@ViewBag.TongSoLuong)</span>
    <iconify-icon class="cart__icon"
                  icon="ps:shopping-cart"></iconify-icon>
    <div class="cart__title">Giỏ hàng</div>
</div>