@{
    ViewBag.Title = "Về chúng tôi";
    Layout = "~/Views/Shared/_LayoutPage_Main.cshtml";
}

@section LibraryCSS {
    <link href="@Url.Content("~/assets/css/pages/about.css")" rel="stylesheet" />    
}

<div></div>