
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutPage_Main.cshtml";
}

<div class="grid wide">
    <section class="row">
        <div class="col">
            <ul class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                <li>Giới thiệu</li>
            </ul>
        </div>
    </section>
</div>

<h2>Đây là trang giới thiệu</h2>