-- Tài khoản: admin
-- Mật khẩu: 123456

USE [FashionShopDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 3/19/2026 9:51:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BienTheSanPhams]    Script Date: 3/19/2026 9:51:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BienTheSanPhams](
	[MaBienThe] [nvarchar](128) NOT NULL,
	[TenMau] [nvarchar](max) NULL,
	[TenSize] [nvarchar](max) NULL,
	[SoLuong] [int] NOT NULL,
	[SanPham_MaSanPham] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.BienTheSanPhams] PRIMARY KEY CLUSTERED 
(
	[MaBienThe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDons]    Script Date: 3/19/2026 9:51:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDons](
	[MaChiTietHoaDon] [nvarchar](128) NOT NULL,
	[SoLuongSanPhamDaDat] [int] NOT NULL,
	[ThanhTien] [float] NOT NULL,
	[BienTheSanPham_MaBienThe] [nvarchar](128) NULL,
	[HoaDon_MaHoaDon] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.ChiTietHoaDons] PRIMARY KEY CLUSTERED 
(
	[MaChiTietHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhAnhs]    Script Date: 3/19/2026 9:51:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnhs](
	[MaHinhAnh] [nvarchar](128) NOT NULL,
	[TenHinhAnh] [nvarchar](max) NULL,
	[SanPham_MaSanPham] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.HinhAnhs] PRIMARY KEY CLUSTERED 
(
	[MaHinhAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDons]    Script Date: 3/19/2026 9:51:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDons](
	[MaHoaDon] [nvarchar](128) NOT NULL,
	[TongTien] [float] NOT NULL,
	[PhiVanChuyen] [float] NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
	[NgayDatMuaHang] [datetime] NOT NULL,
	[PhuongThucThanhToan] [nvarchar](max) NULL,
	[PhuongThucVanChuyen] [nvarchar](max) NULL,
	[TrangThaiDonHang] [nvarchar](max) NULL,
	[TaiKhoan_UserName] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.HoaDons] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPhams]    Script Date: 3/19/2026 9:51:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPhams](
	[MaLoai] [nvarchar](128) NOT NULL,
	[TenLoai] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.LoaiSanPhams] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhams]    Script Date: 3/19/2026 9:51:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhams](
	[MaSanPham] [nvarchar](128) NOT NULL,
	[TenSanPham] [nvarchar](max) NULL,
	[KhuyenMai] [float] NOT NULL,
	[GiaSanPham] [float] NOT NULL,
	[AnhDaiDien] [nvarchar](max) NULL,
	[MoTaSanPham] [nvarchar](max) NULL,
	[LoaiSanPham_MaLoai] [nvarchar](128) NULL,
	[ThuongHieu_MaThuongHieu] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.SanPhams] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoans]    Script Date: 3/19/2026 9:51:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoans](
	[UserName] [nvarchar](128) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[VaiTro] [nvarchar](max) NULL,
	[TenNguoiDung] [nvarchar](max) NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[SoDienThoai] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.TaiKhoans] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuongHieux]    Script Date: 3/19/2026 9:51:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuongHieux](
	[MaThuongHieu] [nvarchar](128) NOT NULL,
	[TenThuongHieu] [nvarchar](max) NULL,
	[XuatXu] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ThuongHieux] PRIMARY KEY CLUSTERED 
(
	[MaThuongHieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YeuThiches]    Script Date: 3/19/2026 9:51:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuThiches](
	[MaYeuThich] [nvarchar](128) NOT NULL,
	[SanPham_MaSanPham] [nvarchar](128) NULL,
	[TaiKhoan_UserName] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.YeuThiches] PRIMARY KEY CLUSTERED 
(
	[MaYeuThich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BienTheSanPhams] ([MaBienThe], [TenMau], [TenSize], [SoLuong], [SanPham_MaSanPham]) VALUES (N'BT1', N'Trắng', N'M', 50, N'SP1')
INSERT [dbo].[BienTheSanPhams] ([MaBienThe], [TenMau], [TenSize], [SoLuong], [SanPham_MaSanPham]) VALUES (N'BT10', N'Cam', N'2XL', 50, N'SP1')
INSERT [dbo].[BienTheSanPhams] ([MaBienThe], [TenMau], [TenSize], [SoLuong], [SanPham_MaSanPham]) VALUES (N'BT100', N'Đen', N'42', 50, N'SP19')
GO
INSERT [dbo].[HinhAnhs] ([MaHinhAnh], [TenHinhAnh], [SanPham_MaSanPham]) VALUES (N'HA1', N'louis-vuitton-ao-thun-trang-phuc.jpg', N'SP1')
INSERT [dbo].[HinhAnhs] ([MaHinhAnh], [TenHinhAnh], [SanPham_MaSanPham]) VALUES (N'HA10', N'louis-vuitton-quan-jean-trang-ph-3.png', N'SP2')
INSERT [dbo].[HinhAnhs] ([MaHinhAnh], [TenHinhAnh], [SanPham_MaSanPham]) VALUES (N'HA100', N'nike-ao-thun.jpg', N'SP39')
GO
INSERT [dbo].[LoaiSanPhams] ([MaLoai], [TenLoai]) VALUES (N'LSP1', N'Áo')
INSERT [dbo].[LoaiSanPhams] ([MaLoai], [TenLoai]) VALUES (N'LSP2', N'Quần')
INSERT [dbo].[LoaiSanPhams] ([MaLoai], [TenLoai]) VALUES (N'LSP3', N'Giày dép')
GO
INSERT [dbo].[SanPhams] ([MaSanPham], [TenSanPham], [KhuyenMai], [GiaSanPham], [AnhDaiDien], [MoTaSanPham], [LoaiSanPham_MaLoai], [ThuongHieu_MaThuongHieu]) VALUES (N'SP10', N'VÁY MAXI LỤA', 0.15, 98300000, N'gucci-vay.jpg', N'Tuyển tập các món đồ may sẵn có chất liệu sequin lấp lánh và chất liệu bóng gợi nhớ những năm 1980. Một chiếc váy maxi lụa với kiểu dáng xếp nếp thử nghiệm giúp tăng thêm độ phồng cho đường viền cổ áo và phần váy bồng bềnh. ', N'LSP6', N'TH2')
INSERT [dbo].[SanPhams] ([MaSanPham], [TenSanPham], [KhuyenMai], [GiaSanPham], [AnhDaiDien], [MoTaSanPham], [LoaiSanPham_MaLoai], [ThuongHieu_MaThuongHieu]) VALUES (N'SP11', N'Áo Chanel bộ sưu tập mùa hè', 0, 900000, N'chanel-ao-1.jpg', N'Vải jersey co dãn có thêu đính đá Đen & BạC ', N'LSP1', N'TH3')
GO
INSERT [dbo].[TaiKhoans] ([UserName], [Password], [VaiTro], [TenNguoiDung], [DiaChi], [SoDienThoai], [Email]) VALUES (N'admin', N'8D969EEF6ECAD3C29A3A629280E686CF0C3F5D5A86AFF3CA12020C923ADC6C92', N'Admin', N'Người Quản Trị', N'Thành Phố Hồ Chí Minh', N'0123456789', N'admin123@gmail.com')
GO
INSERT [dbo].[ThuongHieux] ([MaThuongHieu], [TenThuongHieu], [XuatXu]) VALUES (N'TH1', N'Louis Vuitton', N'Pháp')
INSERT [dbo].[ThuongHieux] ([MaThuongHieu], [TenThuongHieu], [XuatXu]) VALUES (N'TH2', N'Gucci', N'Ý')
INSERT [dbo].[ThuongHieux] ([MaThuongHieu], [TenThuongHieu], [XuatXu]) VALUES (N'TH3', N'Chanel', N'Pháp')
GO
ALTER TABLE [dbo].[BienTheSanPhams]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BienTheSanPhams_dbo.SanPhams_SanPham_MaSanPham] FOREIGN KEY([SanPham_MaSanPham])
REFERENCES [dbo].[SanPhams] ([MaSanPham])
GO
ALTER TABLE [dbo].[BienTheSanPhams] CHECK CONSTRAINT [FK_dbo.BienTheSanPhams_dbo.SanPhams_SanPham_MaSanPham]
GO
ALTER TABLE [dbo].[ChiTietHoaDons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietHoaDons_dbo.BienTheSanPhams_BienTheSanPham_MaBienThe] FOREIGN KEY([BienTheSanPham_MaBienThe])
REFERENCES [dbo].[BienTheSanPhams] ([MaBienThe])
GO
ALTER TABLE [dbo].[ChiTietHoaDons] CHECK CONSTRAINT [FK_dbo.ChiTietHoaDons_dbo.BienTheSanPhams_BienTheSanPham_MaBienThe]
GO
ALTER TABLE [dbo].[ChiTietHoaDons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietHoaDons_dbo.HoaDons_HoaDon_MaHoaDon] FOREIGN KEY([HoaDon_MaHoaDon])
REFERENCES [dbo].[HoaDons] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDons] CHECK CONSTRAINT [FK_dbo.ChiTietHoaDons_dbo.HoaDons_HoaDon_MaHoaDon]
GO
ALTER TABLE [dbo].[HinhAnhs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HinhAnhs_dbo.SanPhams_SanPham_MaSanPham] FOREIGN KEY([SanPham_MaSanPham])
REFERENCES [dbo].[SanPhams] ([MaSanPham])
GO
ALTER TABLE [dbo].[HinhAnhs] CHECK CONSTRAINT [FK_dbo.HinhAnhs_dbo.SanPhams_SanPham_MaSanPham]
GO
ALTER TABLE [dbo].[HoaDons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HoaDons_dbo.TaiKhoans_TaiKhoan_UserName] FOREIGN KEY([TaiKhoan_UserName])
REFERENCES [dbo].[TaiKhoans] ([UserName])
GO
ALTER TABLE [dbo].[HoaDons] CHECK CONSTRAINT [FK_dbo.HoaDons_dbo.TaiKhoans_TaiKhoan_UserName]
GO
ALTER TABLE [dbo].[SanPhams]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SanPhams_dbo.LoaiSanPhams_LoaiSanPham_MaLoai] FOREIGN KEY([LoaiSanPham_MaLoai])
REFERENCES [dbo].[LoaiSanPhams] ([MaLoai])
GO
ALTER TABLE [dbo].[SanPhams] CHECK CONSTRAINT [FK_dbo.SanPhams_dbo.LoaiSanPhams_LoaiSanPham_MaLoai]
GO
ALTER TABLE [dbo].[SanPhams]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SanPhams_dbo.ThuongHieux_ThuongHieu_MaThuongHieu] FOREIGN KEY([ThuongHieu_MaThuongHieu])
REFERENCES [dbo].[ThuongHieux] ([MaThuongHieu])
GO
ALTER TABLE [dbo].[SanPhams] CHECK CONSTRAINT [FK_dbo.SanPhams_dbo.ThuongHieux_ThuongHieu_MaThuongHieu]
GO
ALTER TABLE [dbo].[YeuThiches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.YeuThiches_dbo.SanPhams_SanPham_MaSanPham] FOREIGN KEY([SanPham_MaSanPham])
REFERENCES [dbo].[SanPhams] ([MaSanPham])
GO
ALTER TABLE [dbo].[YeuThiches] CHECK CONSTRAINT [FK_dbo.YeuThiches_dbo.SanPhams_SanPham_MaSanPham]
GO
ALTER TABLE [dbo].[YeuThiches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.YeuThiches_dbo.TaiKhoans_TaiKhoan_UserName] FOREIGN KEY([TaiKhoan_UserName])
REFERENCES [dbo].[TaiKhoans] ([UserName])
GO
ALTER TABLE [dbo].[YeuThiches] CHECK CONSTRAINT [FK_dbo.YeuThiches_dbo.TaiKhoans_TaiKhoan_UserName]
GO
