// Variables
$primary-red: #d32f2f;
$primary-hover: #f27166;
$light-gray: #f8f9fa;
$text-dark: #333;
$white: #fff;
$transition-base: transform 0.3s ease;
$transition-fast: all 0.2s ease-in-out;
$font-main: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$border-color: #eee;
$banner-height: 450px;
$banner-height-mobile: 250px;
$footer-bg: #fbfbfb;
$text-footer: #555;
$input-border: #ccc;
