
@{
    ViewBag.Title = "Trang quản lý";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage_Admin.cshtml";
}

<h2 style="text-align: center; font-weight: 600; color: red;">Đây là bảng điều khiển - quản lý dành cho quản trị viên</h2>

<img style="margin: 0 18%; height: 815px;" src="https://img.freepik.com/free-psd/fashion-template-design_23-2150299007.jpg?w=740&t=st=1702326171~exp=1702326771~hmac=45b90f611d76cdf6d87ea4d05a648651582672bf905e5014f98f37b948b48da1" alt="Fashion Shop Poster" />